/*
$background: #040E1E url('/images/background.jpg');
$foreground: #E6EBFB;
$ui-background: #344566;
*/

html {
  background: url("img/bkd_page.jpg") no-repeat fixed center center #0d0d0d;
  background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  /* background: rgba(13, 16, 20, 0.50); */
  /* color: #E6EBFB; */

  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: Whitney,Source Sans Pro,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; */
}

body, input, select, button, textarea, a, td, th, tr, table, a:visited {
  color: #fff;
}

body.mceContentBody, input, button, select, option, textarea, .ui-widget-content {
  background: #2a2e31;
  padding: 2px;
}

input[type="radio"] {
  background: transparent;
  border: 0 none;
}

#menu {
  position: fixed;
  overflow-y: auto;
  height: 90vh;
  max-width: 180px;
}

/* #menu li:first-child, #menu li:last-child{
	background-color:transparent;
} */

.card .title {
  background-image: url("img/bkd_title.png");
  border: 1px solid #000;
  color: #FFF;
  font-weight: bold;
}

.card .content {
  background: rgba(13, 16, 20, 0.95);
  border: 1px solid #000;
}

a:hover {
  color: #ffd600;
  text-decoration: none;
  font-weight: bold;

}

table, td, th {
  font-weight: 400
}

table table, img {
  border: 0
}

input, select, textarea, #userpic, input, button {
  border: 1px solid #ffeec0;
}

button.selected {
  border: 1px solid #1C1FD3;
}

td, th input, .tip {
  border: 1px solid #000;
}

td, .tip {
  text-align: center;
  background: #0D1014;
  background: rgba(13, 16, 20, 0.95);
}

input, button {
  text-align: center
}

th, .ui-widget-header {
  background-image: url("img/bkd_title.png");
  color: #FFF;
  font-weight: 700;
  text-align: left;
  border: 1px solid #000;
}


.trade-disallowed > td {
  background: #001004;
}

.trade-enemy > .table_username {
  color: #F00;
}

.trade-ally > .table_username {
  color: #0F0;
}

.no-background, .no-background > th, .no-background > td {
  background-image: none;
  background: transparent;
}

.center, .center > th, .center > td {
  text-align: center;
}


.no-border, .no-border > th, .no-border > td {
  border: 0px;
}

th a:hover, .ui-widget-header a:hover, .article a:hover {
  color: #FFF;
  font-weight: bold;
}

th a:hover, .ui-widget-header a:hover {
  text-decoration: underline;
  font-weight: bold;
}

textarea {
  background: transparent;
}

select {
  border: 1px solid #212121
}

/*Global Messgae */

.admin {
  color: red;
}

.mod {
  color: yellow;
}

.ops {
  color: skyblue;
}

.messages_body .admin {
  font-weight: 700;
  color: red;
}

.messages_body .mod {
  font-weight: 700;
  color: yellow;
}

.messages_body .ops {
  font-weight: 700;
  color: skyblue;
}

.res_name {
  color: red;
  font-weight: 700
}

.galaxy-alliance-member {
  color: #99FF66;
}

.galaxy-alliance-friend, .galaxy-friend {
  color: #99FFFF;
}

.galaxy-alliance-traid {
  color: #28fab0;
}

.galaxy-alliance-enemy {
  color: #FF0000;
}

.galaxy-alliance-secret {
  color: #ff66ff;
}

.galaxy-short-noob,
.galaxy-username-noob {
  color: #a0ffa0
}

.galaxy-short-strong,
.galaxy-username-strong {
  color: #ffa0a0
}

.galaxy-short-vacation,
.galaxy-username-vacation {
  color: #659ec7
}

.galaxy-short-inactive,
.galaxy-username-inactive {
  color: #ccc
}

.galaxy-short-longinactive,
.galaxy-username-longinactive {
  color: #999
}

.galaxy-short-banned {
  text-decoration: line-through
}

.ownattack {
  color: #6c3
}

.owncolony {
  color: #c1c1c1
}

.owndeploy {
  color: #cf79de
}

.owndestroy {
  color: #ff9
}

.ownfederation {
  color: #6c3
}

.hostilefederation {
  color: #c66
}

.ownharvest {
  color: #ceff68
}

.ownhold {
  color: #80a0c0
}

.destroy {
  color: #d4a017
}

.hold {
  color: #39c
}

.warning {
  color: #FF8040
}

.notice {
  color: #FF0
}

.return {
  color: #6e8eea;
}

.allymember, .colony, .deploy, .harvest, .transport, .success {
  color: lime
}

.owntransport {
  color: #5bf1c2
}

.ownespionage, .ownmissile {
  color: #fc6
}

.espionage, .missile {
  color: #f60
}

.build_submit {
  background-color: #3A3A3A;
  border: 1px solid;
  border-color: #8A8A8A #666666 #666666 #8A8A8A;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding: 3px;
  min-width: 150px;
  min-height: 35px;
}

.onlist {
  color: #DDD;
  border: 0px;
  background: none;
  min-width: 0px;
  min-height: 0px;
}

/** LOGO **/

.logo .fixed {
  background: #0D1014;
  background: rgba(13, 16, 20, 0.95);
  border-bottom: 1px solid black;
}

/** HEADER **/

header .fixed {
  background: #0D1014;
  background: rgba(13, 16, 20, 0.95);
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
}

#resourcesdiv {
  text-align: center;
}

/** MENU **/

.menu-separator {
  background-image: url(img/bkd_title.png);
  /* color: #FFF; */
  /* border: 1px solid black; */
}

menu a {
  text-align: center;
  background: #2a2e31;

}

menu a:hover {
  color: #2cbbf7;
  font-weight: bold;
}

div#disclamer a {
  background: unset;
  border-top: unset;
}

/* PLANETMENU */

#planet_menu_link {
  font-weight: 700;
}

#planet_menu_header {
  text-align: right;
}

#planet_menu_content li {
  text-align: center;
}


/* CONTENT */

.tip th {
  text-align: center
}

.transparent, header td, .tip td, .tip th, .raportMessage td {
  background: transparent;
  border: none;
  filter: none !important;
}

.mes_unread td {
  font-weight: 700;
  background-color: #212428;
}

a {
  text-decoration: none
}

th a, .res_current {
  color: #FFF
}

.attack, .error {
  color: red
}

.federation {
  color: rgb(51, 153, 102)
}

#fleetstatustable td {
  background: transparent;
  background-image: none;
  border: 0 none
}

.raportWin {
  color: lime;
}

.raportLose {
  color: red;
}

.ui-progressbar-value {
  background-image: url(img/processbar.gif);
  background-position: top left;
  border-color: #000;
}

.spyRaportContainerHead {
  background: #212428;
  color: white;
  font-weight: 700;
  text-align: left;
  margin: 3px 0;
  padding: 3px;
}

.spyRaportContainerRow {
  border-top: 1px solid #DDD;
}

.spyRaportContainerHead + .spyRaportContainerRow {
  border-top: 0 none;
}

.message {
  margin: 0 0 0 744px;
  position: fixed;
  background-color: #208c81c4;
  padding: 8px;
  text-align: center;
  top: 100px;
  border-radius: 15px 0px 15px 15px;
  height: fit-content;
  max-width: 175px;
}

@media screen and (min-width: 700px) and (max-width: 1600px) {
  .message {
    right: 10.5%;
    margin: 0;
  }
}

@media screen and (max-width: 699px) {
  .message {
    bottom: 0;
    width: 100%;
    max-width: unset;
    border-radius: 15px 15px 0 0;
    top: unset;
    margin: 0;
  }

  .gal1 {
    position: fixed;
    font-size: unset !important;
    margin: 5% auto;
    left: 0;
    right: 0;

  }
}

.planeto {
  background: #161618;
  text-align: center;
  border: #161618;
  border-radius: 15px;
  padding: 5px;
}

.infos {
  text-align: center;
  background: #2a2e31;
  border-radius: 15px;
  margin-top: 10px;
  overflow: auto;
}

.infoso {
  text-align: center;
  background: #343b6bba;
  border-radius: 15px;
  margin-top: 10px;
  overflow: auto;
}


.infos1 {
  text-align: center;
  background: #356f6dba;
  border-radius: 15px;
  overflow: auto;
  margin: 0 10px 0 10px;
}

.moon {
  float: left;
  width: 30%;
  padding: 10px;

}

.planetl {
  float: left;
  padding-left: 8px;
  min-height: 155px;
}

.planeth {
  line-height: 1.4;
  padding: 10px;
  font-variant-caps: petite-caps;
}

.galaxy {
  float: left;
  margin: 5px auto;
  width: 50%;
  font-variant-caps: petite-caps;

}

.gal1 {
  background: #243463f5;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  font-size: medium;
}

.g1 {
  margin: auto;
  text-align: center;
}

.g2 {
  min-width: 10%;
  width: min-content;
  float: left;
  height: 105px;
  text-align: center;
  margin: 0 5px;
}

.g3 {

  width: 115px;
  float: left;
  height: 105px;
  text-align: center;
}

.planetb {
  min-width: 296px;
  float: left;
  background: #01111fab;
  padding: 5px;
  width: 33%;
  height: 135px;
}

.planetb1 {
  min-width: 296px;
  float: left;
  background: #01111fab;
  padding: 5px;
  width: 33%;
  border: 1px solid #336c7b;
  height: 133px;
}

.gal2 {
  background: #243463f5;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  font-size: medium;
  float: left;
}

.planeth img {
  margin: 8px;
}

.bulida {
  float: left;
  width: 35%;
  line-height: 1.4;
  padding: 8px;
  height: 69px;
  border-bottom: solid 1px #00d2be;
}

.buildb {
  float: left;
  width: 65%;
  line-height: 1.4;
  padding: 12px;
  height: 69px;
  border-bottom: solid 1px #00d2be;
}
.buildc {
  float: middle;
  width: 100%;
  line-height: 1.4;
  padding: 12px;
  height: 69px;
  border-bottom: solid 1px #00d2be;
}

.hidden-div {
  border: 2px solid #ee4d2e;
  border-radius: 15px;
  margin: 3px;
  padding: 10px 30px;
  text-align: left;
}

.buildl {
  float: left;
  width: 50%;
  line-height: 1.4;
  padding: 10px;
  text-align: center;
  background: #212121;
  height: 140px
}

.buildn {
  border-radius: 15px;
  padding: 6px;
  overflow: auto;
  background: #ee4d2e;
}

.buildn a:hover {
  color: #2cbbf7;
  font-weight: bold;

}

.techb {
  background: #1b4c6e;
  border-radius: 15px;
  padding: 5px;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.techi {
  margin: 5px 0 0 5px;
  min-height: 240px;
  min-width: 172px;
  float: left;
  width: 32.5%;
  padding: 3px;
  background: #478f7e8c;
}

.ship {
  margin: 0 auto;
  max-width: 400px;
  background: #1b2e58d1;
  border-radius: 25px;
}

.shipumode {
  margin: 0 auto;
  max-width: 400px;
  background: #1b2e58d1;
  border-radius: 25px;
}

.shipl {
  margin-top: 10px;
  padding: 10px;
  overflow: auto;
  border: none;
  border-radius: 15px;
}

.z {
  margin: 5px auto;
  padding: 10px;
  max-width: 300px;
  background: #1b4c6e;
  border-radius: 25px;
  color: #e9ff79;
  text-transform: uppercase;
}

.zumode {
  margin: 5px auto;
  padding: 10px;
  max-width: 300px;
  background: #1b4c6e;
  border-radius: 25px;
  color: #e9ff79;
  text-transform: uppercase;
}

.b {
  background-color: #3A3A3A;
  border: 3px solid;
  border-color: #8A8A8A #666666 #666666 #8A8A8A;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding: 3px;
  min-height: 40px;
}


input:hover {
  color: #2cbbf7;
}

.ui-autocomplete, .ui-state-hover, .ui-state-default, .ui-tabs-nav, .ui-tabs, .ui-progressbar, .ui-progressbar-value {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 5px;
}

.ui-state-default {
  border: 1px solid #000 !important;
  background: #0D1014 !important;
}

.ui-state-default > a {
  cursor: pointer !important;
}

.ui-state-hover, .ui-progressbar {
  border: 1px #000 !important;
  background: #55386b !important;
}

.ui-tabs-nav {
  padding: 0;
}

.ui-tabs {
  border: 1px solid #000;
  background: transparent;
}

@media screen and (max-width: 520px) {
  div .buildc {
    border: none;
  }
  
  div .buildb {
    border: none;
  }

  div .bulida {
    border: none;
  }
}

.card {
  background-color: rgba(5, 5, 5, 0.5) !important;
  border: 1px solid #444;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card-header, .card-header .card-actions a, .card-header .card-actions button
.card-footer, .card-footer .card-actions a, .card-footer .card-actions button {
  color: #fff;
  border-left: 0;
}

.card-header, .card-footer, .spyReportCat {
  background-color: #252831;
}

.card-header {
  border-bottom: 1px solid #444;
}

.card-footer {
  border-top: 1px solid #444;
}

.card-footer, .card {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
